body {
    background: white url(../images/bg.jpg) repeat 0px 80%;
    position: relative;
}

header{
	height: 70px;
	background: url(../images/images/wedding_header_samll_01.jpg) 
	no-repeat right 0px;
}

nav a { 
	  display: block;
    color: black;
    text-decoration: none;
    border:solid black 1px;
    border-radius: 3px;
    margin-bottom: 1px;
    width: 99%;
    background-color: transparent;
}

nav{
	position: static;
	margin-bottom: 20px;
  border-bottom: none;
}

footer { 
    font-size: .75em; 
    color: black; 
    padding: 10px 10px 10px 0px;
    margin-top: 20px;
    text-align: center;
}

table input {
  width: 175px;
  height: 30px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  font-family: sans-serif;
  color: black;
  padding-left: 16px;
  margin-bottom: 8px;
  font-size: 12.4px;
}

div img{
    width:350px;
    height:350px;
}

#invitation{
  width: 350px;
  height: 244px;
   margin-left:10%;
   margin-top: 2%;
}


form textarea { 
    width: 298px;

    }

.content{
    padding: 0 12% 12% 12%;


}

.btn{
   margin-left: 100px;
   }