

nav {

    text-align: center;
    position: relative;
 	display: inline-block;
    padding: 2px 0px 2px 0px;
    display: block;
    background-color:transparent;
  	border-bottom: solid black 2px;
}

.content{
    padding-left:30%;
  
}

#invitation{
	width:650px;
	height:454px;
}

div img{
	width:350px;
	height:350px;
	margin-left: 7%;
}

table input{
  width: 180px;
  height: 32px;
  border: 1px solid black;
  border-radius: 4px;
  font-family: sans-serif;
  color: black;
  padding-left: 16px;
  margin-bottom: 8px;
  font-size: 14.4px;
}

.btn{
    font-size: 16px;
    margin-left: 335px;

}


textarea { 
	font-size: 14px;
	resize:none;
	}