header{
    height: 205px;
}


nav a { 
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    border-radius: 5px;
    padding: 2px;
}
nav {
    text-align: center;
    width: 100%;
    padding: 0px;
    display:block;
 
}

.content{
  
    padding-left:20%;]
    
}


div img{
    width:190px;
    height:190px;
    margin-left: 18.5px;
}

#invitation{
   margin-left: 5%;
   margin-top: 5%;
}

form textarea { 
    width: 300px;
    }

.btn{
   

    margin-top: 20px;
    margin-left: 100px;
}

