body {
    
    color: black;
    line-height: 1.5em;
    font-family: Arial;
    font-size: 14px;
    background: white url(../images/bg.jpg);
    position: relative;
}

.page {
    max-width: 980px;
    margin: 0px auto 0px auto;
    position: relative;
    background-color: transparent;
    box-shadow: 0px 0px 20px 1px gray;
    overflow: hidden;
}

header{
    height: 300px;
    background: url(../images/wedding_header_large.jpg);
    background-size: cover;
    height: 250px;
}

a:hover { 
    color:white; 
    background-color: gray;

}

nav a { 
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 5px;
    padding: 2px;
    
}

#invitation{
   box-shadow: 10px 10px 5px #888888;
   border-radius: 10px;
   margin-left: 16%;
   margin-top: 10%;


}

header{
    height: 300px;
    background: url(../images/wedding_header_large.jpg);
    background-size: cover;
    height: 250px;
}

footer { 

    font-size: .85em; 
    text-align: center;
    color: black; 
    padding: 10px 10px 10px 0px;
    margin-top: 50px;

}



.btn{
    width: 100px;
    height: 40px;
    border:solid black 1px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: transparent;
}

.btn:hover{
    background-color: lightgray;
}
.btn:active{
  background-color: lightblue;
}


